
spring:
  application:
    name: Uber-Location-Services
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 7777

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
